@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    background-color: black;
    font-family:'MuseoModerno', 'Courier New', Courier, monospace;
}

body {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 0 0 0 0;
    color : #cdf7e2;
    text-align: center;
}

h2 {
    padding: 8px;
    color : #4f6781;
}

h3 {
    color : #4f6781;
    text-align: center;
    padding-bottom: 8px;
    margin: 8px 0 0 0;
}

p {
    padding: 8px;
    color : #afbfd2;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

ul {
    color : #afbfd2;
    list-style-type: lower-greek;
}

.contact {
    color : #afbfd2;
    list-style-type: none;
}

.contact li {
    padding: 0 0 8px 0;
}

label {
    color : #afbfd2;
}

address {
    color : #afbfd2;
}

button {
    background-color: #afbfd2;
    color: black;
    border-color: #afbfd2;
    box-shadow: 0 4px #afbfd2;
}

button:hover {
    background-color: black;
    color: #afbfd2;
    border-color: #afbfd2;
    box-shadow: 0 4px #afbfd2;
}

button:active {
    background-color: black;
    color: #afbfd2;
    box-shadow: 0 0px #afbfd2;
    transform: translateY(4px);
}

section {
    scroll-margin-top: 200px;
}

a {
    color: #cdf7e2;
}

a:hover {
    color: white;
}

.topheader {
    background-color: rgba(20, 20, 20, 1);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px 0 0 0;
    border-radius: 0 0 32px 32px;
}

.topnav {
    display: flex;
    justify-content: center;
    background-color: #121212;
    padding: 8px 8px 8px 8px;
    border-radius: 16px 16px 0 0;
}

.topnav a {
    color: #4f6781;
    text-align: center;
    padding: 2px 16px;
    border-radius: 8px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
}

.topnav a.active {
    background-color: #4f6781;
    color: #ffffff;
}

.subtopnav {
    display: flex;
    justify-content: center;
    background-color: #121212;
    padding: 8px 8px 8px 8px;
    border-radius: 0 0 32px 32px;
}

.subtopnav a {
    color: #cdf7e2;
    text-align: center;
    padding: 2px 16px;
}

.subtopnav a:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
}

.subtopnav a.active {
    background-color: #cdf7e2;
    color: #28312d;
    border-radius: 8px;
}

.main {
    margin-top: 200px;
    width: auto;
    margin: 200px 32px 32px 32px;
    padding: 0 32px 32px 32px;
}

.dontcrash {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.horizontal-container-no-bg {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 8px 8px 8px 8px;
}

.horizontal-container, .featured-horizontal-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 8px 8px 8px 8px;
    border-radius: 32px;
    background-image: linear-gradient(to bottom, #3d4349, #000000 10%, #000000 90%, #3d4349);
}

.featured-horizontal-container {
    background-image: linear-gradient(to bottom left, goldenrod, #cdf7e2, #3d4349);
}

showcase-component {
    width: 33%;
    padding: 0 8px 0 8px;
    margin: 0 auto 0 auto;
    background-color: #141414;
    border-radius: 32px;
    padding: 32px;
    max-height: 100%;
    background-image: linear-gradient(to bottom right, #656e77, #141414 33%);
}

skills-showcase-component {
    width: 50%;
    padding: 0 8px 0 8px;
    margin: 0 auto 0 auto;
    background-color: #141414;
    border-radius: 32px;
    padding: 32px;
}

.skill-list {
    list-style: none;
    padding: 8px;
    width: 100%;
    text-align: right;
}

.skill-list li {
    padding: 8px 0 8px 0;
    height: 46px
}

.skillbar-list {
    list-style: none;
    padding: 8px;
    width: 100%;
}

.skillbar-list li {
    padding: 8px 0 8px 0;
}

.skill-bar-1, .skill-bar-2, .skill-bar-3 {
    height: 30px;
    background-color: #43524b;
    border-radius: 8px;
    border-style: solid;
    border-color: #656e77;
    border-width: 3px #333;
}

.skill-bar-1 {
    width: 33%;
    background-image: linear-gradient(to right, rgba(101,110,119,1), rgba(136,156,155,1));
}

.skill-bar-2 {
    width: 66%;
    background-image: linear-gradient(to right, rgba(101,110,119,1), rgba(170,201,190,1));
}

.skill-bar-3 {
    width: 100%;
    background-image: linear-gradient(to right, rgba(101,110,119,1), rgba(205,247,226,1));
}


article-showcase-component {
    width: 33%;
    padding: 0 8px 0 8px;
    margin: 0 auto 0 auto;
    background-color: #141414;
    border-radius: 32px;
    padding: 32px;
    max-height: 100%;
}

.scaleable {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.inline {
    display: inline-block;
}

.material-icons {
    color: #ceddee;
}

.text-container {
    margin: 32px auto 8px auto;
    background-color: #141414;
    max-width: 1000px;
    border-radius: 32px;
    padding: 8px;
}

.skills-showcase-text-container, .skillbars-showcase-text-container {
    margin: 8px 0 8px 0;
    border-radius: 32px;
    padding: 8px;
}

.skills-showcase-text-container {
    width: 33%;
}

.skillbars-showcase-text-container {
    width: 66%;
}

.section-title {
    padding: 32px 0 16px 0;
}

footer {
    padding: 16px 0 16px 0;
    background-color: #656e77;
    border-radius: 16px 16px 0 0;
    justify-content: center;
    display: flex;
}

.space-filler {
    flex-grow: 1;
}

.text-center {
    justify-content: center;
    display: flex;
}

.nblogo {
    width: 100px;
    border-radius: 64px;
    position: absolute;
    margin: -8px 0 0 16px;
}

@keyframes greetingColorShift {
    0% {color: red;}
    50% {color: yellow;}
    100% {color: aqua;}
}

@keyframes highlightColorShift {
    0% {color: #afbfd2;}
    100% {color: #cdf7e2;}
}

.greeting {
    color: #cdf7e2;
    animation-name: greetingColorShift;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.highlight {
    animation-name: highlightColorShift;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

iframe {
    display: block;
    margin: 0 auto;
    border-radius: 32px;
}