@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    font-family:'MuseoModerno', 'Courier New', Courier, monospace;
}

body {
    width: auto;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0 0 0 0;
    color : #afbfd2;
    text-align: center;
}

h2 {
    padding: 8px;
    color : #4f6781;
}

h3 {
    color : #4f6781;
    text-align: center;
    padding-bottom: 8px;
}

p {
    padding: 8px;
    color : #afbfd2;
}

img {
    display: block;
    margin: 0 auto;
}

ul {
    color : #afbfd2;
    list-style-type: lower-greek;
}

.contact {
    color : #afbfd2;
    list-style-type: none;
}

.contact li {
    padding: 0 0 8px 0;
}

label {
    color : #afbfd2;
}

address {
    color : #afbfd2;
}

button {
    background-color: #afbfd2;
    color: black;
    border-color: #afbfd2;
    box-shadow: 0 4px #afbfd2;
}

button:hover {
    background-color: black;
    color: #afbfd2;
    border-color: #afbfd2;
    box-shadow: 0 4px #afbfd2;
}

button:active {
    background-color: black;
    color: #afbfd2;
    box-shadow: 0 0px #afbfd2;
    transform: translateY(4px);
}

section {
    scroll-margin-top: 200px;
}

.topheader {
    background-color: #141414;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px 0 0 0;
}

.topnav {
    display: flex;
    justify-content: center;
    background-color: #656e77;
    padding: 8px 8px 8px 8px;
}

.topnav a {
    color: #cdf7e2;
    text-align: center;
    padding: 2px 16px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: #000000;
}

.topnav a.active {
    background-color: #cdf7e2;
    color: #28312d;
}

.subtopnav {
    display: flex;
    justify-content: center;
    background-color: #3d4349;
    padding: 8px 8px 8px 8px;
}

.subtopnav a {
    color: #cdf7e2;
    text-align: center;
    padding: 2px 16px;
}

.subtopnav a:hover {
    background-color: #ffffff;
    color: #000000;
}

.subtopnav a.active {
    background-color: #cdf7e2;
    color: #28312d;
}

.main {
    margin-top: 200px;
    width: auto;
    margin: 200px 32px 32px 32px;
    padding: 0 32px 32px 32px;
}

.dontcrash {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.horizontal-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 8px 0 8px 0;
}

showcase-component {
    width: 33%;
    padding: 0 8px 0 8px;
}

.scaleable {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.inline {
    display: inline-block;
}

.material-icons {
    color: white;
}