html {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: auto;
    margin: 0 32px;
    padding: 0 32px 32px 32px;
}

h1 {
    padding: 8px;
    color : #4f6781;
    text-align: center;
}

p {
    padding: 8px;
    color : #afbfd2;
}

img {
    display: block;
    margin: 0 auto;
}

ul {
    color : #afbfd2;
    list-style-type: lower-greek;
}